<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Edit cv</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    @if (currentCv==null) {
    <div>Loading ....</div>
    <br />
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    } @else{
    <mat-vertical-stepper #stepper linear>
      <mat-step #step1 [completed]="false">
        <ng-template matStepLabel>Fill out cv information</ng-template>
        <first-step (onCompleted)="firstStepCompleted($event)" [currentCv]="currentCv" />
      </mat-step>
      <mat-step #step2 [completed]="false">
        <ng-template matStepLabel>Fill out personal information {{step1.completed}}</ng-template>
        <second-step [currentCv]="currentCv" (onCompleted)="secondStepCompleted()" (onBack)="back()" />
      </mat-step>
      <mat-step #step3 [completed]="false">
        <ng-template matStepLabel>Fill out experience information</ng-template>
        <third-step [currentCv]="currentCv" (onCompleted)="thirdStepCompleted()" (onBack)="back()" />
      </mat-step>
    </mat-vertical-stepper>
    }


  </mat-card-content>
</mat-card>
